<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.trash_collector">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Comvawe_project"
        tools:targetApi="31">
        <activity
            android:name=".WorkReportActivity"
            android:exported="false" />
        <activity
            android:name=".AllMyComplaintsAcitivity"
            android:exported="false" />
        <activity
            android:name=".MainHomeActivityUser"
            android:exported="false" />
        <activity
            android:name=".AllDriverTasksActivity"
            android:exported="false" />
        <activity
            android:name=".AssignTaskActivity"
            android:exported="false" />
        <activity
            android:name=".AllDriversActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivityDriver"
            android:exported="false" />
        <activity
            android:name=".HomeDriver"
            android:exported="false" />
        <activity
            android:name=".AddEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".AllComplaintsActivity"
            android:exported="false" />
        <activity
            android:name=".SubmitComplaintActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateBinActivity"
            android:exported="false" />
        <activity
            android:name=".CreateBinActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBW5VhijEa6_ROXR8go0BnM2hq5LuixtUA" />

        <activity android:name=".SetLocation" />
        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".HomeActivityAdmin"
            android:exported="false" />
        <activity
            android:name=".SignInActivityAdmin"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>